.hall {
    width: 100%;
    height: 100%;
    background-image: url(../../assets/images/hall-bc_03.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .hall-rule {
        position: absolute;
        right: 30px;
        top: 40px;
        width: 70px;
        height: 70px
    }
    .hall-guide {
        position: absolute;
        right: 32px;
        bottom: 50px;
        width: 110px;
        height: 180px
    }
    .hall-choose {
        padding-top: 56vh;
        margin: auto;
        width: 681px;
        display: flex;
        justify-content: space-around;
        .hall-radius {
            padding-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 170px;
            height: 174px;
            background-image: url(../../assets/images/hall-radius.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            font-size: 45px;
            font-family: HYXiaoBoZheZhiTiJ;
            font-weight: 400;
            color: #60473A;
            line-height: 134px;
        }
    }
}