.hall {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/images/hall-bc_03.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .hall-rule {
        background-image: url(../../assets/images/rule-book.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: absolute;
        right: 30px;
        top: 40px;
        width: 100px;
        height: 100px
    }
    .hall-guide {
        background-image: url(../../assets/images/guide-book_02.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: absolute;
        right: 32px;
        bottom: 50px;
        width: 140px;
        height: 180px
    }
    .hall-choose {
        padding-top: 56vh;
        margin: auto;
        width: 681px;
        display: flex;
        justify-content: space-around;
        .hall-radius {
            padding-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 170px;
            height: 174px;
            background-image: url(../../assets/images/hall-radius.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            font-size: 45px;
            font-family: HYXiaoBoZheZhiTiJ;
            font-weight: 400;
            color: #60473A;
            line-height: 134px;
        }
    }
}

a {
    text-decoration: none;
}