.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/images/res-bc_03.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .res-bigtitle {
        margin-left: 60px;
        margin-top: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: url(../../assets/images/res-title_03.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 388px;
        height: 115px;
        font-size: 39px;
        font-family: MF;
        font-weight: 400;
        color: #FFFFF1;
        line-height: 40px;
    }
    .res-title {
        margin-left: 60px;
        margin-top: 12vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../../assets/images/res-title_03.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 298px;
        height: 103px;
        font-size: 44px;
        font-family: MF;
        font-weight: 400;
        color: #FFFFF1;
        line-height: 37px;
    }
    .res-content {
        position: relative;
        // &::after {
        //     content: "";
        //     position: absolute;
        //     top: 40.5vh;
        //     left: 5.5vw;
        //     height: 50px;
        //     width: 60vw;
        //     background-color: #fbf2d2;
        //     filter: blur(6px);
        //     z-index: 2;
        // }
        margin-left: 60px;
        padding-top: 60px;
        margin-top: 2vh;
        width: 553px;
        height: 63vh;
        background-image: url(../../assets/images/res-content.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .res::-webkit-scrollbar {
            width: 0 !important
        }
        .res {
            -ms-overflow-style: none;
            overflow: scroll;
            margin: auto;
            width: 430px;
            height: 40vh;
            font-size: 30px;
            font-family: HYXiaoBoZheZhiTiJ;
            font-weight: 400;
            color: #A1664A;
            line-height: 37px;
        }
        .res-bt {
            margin: auto;
            margin-top: 20px;
            width: 341px;
            height: 164px;
            background-image: url(../../assets/images/res-bt.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    }
    .res-rule {
        position: absolute;
        top: 2vh;
        left: 88vw;
        width: 80px;
        height: 80px;
        background-image: url(../../assets/images/rule-book.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .res-guide {
        position: absolute;
        top: 85vh;
        left: 80vw;
        width: 140px;
        height: 150px;
        background-image: url(../../assets/images/guide-book_02.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}