.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/images/Home_02.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .logo {
        background: url(../../assets/images/logo.png)no-repeat;
        background-size: 241px 73px;
        width: 241px;
        height: 73px;
        position: absolute;
        top: 2vh;
        left: 2vw;
    }
    .self_information {
        background: url(../../assets/images/self-info.png)no-repeat;
        background-size: 73px 73px;
        position: absolute;
        width: 73px;
        height: 73px;
        top: 2vh;
        right: 2vw;
    }
    .home-bt {
        // margin-right: -300px;
        margin-top: 52vh;
        width: 345px;
        height: 160px;
        background-image: url(../../assets/images/home-bt.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}