.guide {
    width: 100%;
    height: 100%;
    background-image: url(../../assets/images/guide-bc_05.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .guide-content {
        display: flex;
        justify-content: center;
        z-index: 2;
        position: absolute;
        top: 230px;
        left: 76px;
        width: 596px;
        height: 874px;
        background-image: url(../../assets/images/guide-content.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        .guide-title {
            position: absolute;
            top: -40px;
            left: 50px;
            width: 400px;
            height: 52px;
            font-size: 52px;
            font-family: MF;
            font-weight: 400;
            color: #905436;
            line-height: 44px;
        }
        .guide-symbol {
            position: absolute;
            top: 85px;
            left: 440px;
            width: 100px;
            height: 33px;
            background-image: url(../../assets/images/guide-no.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        .content-story {
            position: absolute;
            top: 180px;
            left: 50px;
            border-radius: 20px;
            margin: auto;
            width: 493px;
            height: 592px;
            padding: 1em;
            border: 1px dashed transparent;
            background: linear-gradient(#fce6ad, #fce6ad) padding-box, repeating-linear-gradient(-55deg, #c4a27f 0, #c4a27f 0.4em, #fce6ad 0, #fce6ad 0.75em);
            .attention {
                margin-top: -33px;
                width: 162px;
                height: 31px;
                font-size: 37px;
                font-family: MF;
                font-weight: 400;
                color: #8F5A40;
                line-height: 132px;
            }
            .attention-content::-webkit-scrollbar {
                width: 0 !important
            }
            .attention-content {
                -ms-overflow-style: none;
                overflow: scroll;
                margin-top: 75px;
                height: 170px;
                width: 421px;
                div {
                    width: 420px;
                    font-size: 29px;
                    font-family: HYXiaoBoZheZhiTiJ;
                    font-weight: 400;
                    color: #8F5A40;
                    line-height: 37px;
                }
            }
            .story {
                width: 162px;
                height: 31px;
                font-size: 37px;
                font-family: MF;
                font-weight: 400;
                color: #8F5A40;
                line-height: 132px;
            }
            .story-content::-webkit-scrollbar {
                width: 0 !important
            }
            .story-content {
                -ms-overflow-style: none;
                margin-top: 75px;
                overflow: scroll;
                height: 170px;
                width: 421px;
                div {
                    width: 420px;
                    font-size: 29px;
                    font-family: HYXiaoBoZheZhiTiJ;
                    font-weight: 400;
                    color: #8F5A40;
                    line-height: 37px;
                }
            }
        }
        .content-page {
            position: absolute;
            top: 800px;
            display: flex;
            justify-content: space-between;
            width: 410px;
            height: 40px;
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 104px;
                height: 25px;
                font-size: 29px;
                font-family: MF;
                font-weight: 400;
                color: #B48F71;
                line-height: 37px;
            }
        }
    }
    .content-header {
        padding-top: 5px;
        display: flex;
        position: absolute;
        left: 80px;
        top: 160px;
        z-index: 1;
        width: 550px;
        height: 100px;
        .head {
            text-align: center;
            padding-top: 20px;
            margin-right: -30px;
            flex: 1;
            width: 181px;
            height: 100%;
            background-image: url(../../assets/images/guide_no-active.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            font-size: 29px;
            font-family: MF;
            font-weight: 400;
            color: #A48265;
            line-height: 44px;
            &:hover {
                background-image: none;
                background-color: #e5c88d;
                border-radius: 10px;
            }
        }
    }
    .guide-title {
        padding-top: 8vh;
        margin: auto;
        width: 280px;
        height: 60px;
        font-size: 63px;
        font-family: MF;
        font-weight: 400;
        color: #faf0c6;
        line-height: 44px;
    }
    .guide-back {
        margin-left: 80vw;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 51px;
        height: 51px;
        background: #1B1B1B;
        opacity: 0.3;
        border-radius: 50%;
        div {
            width: 55%;
            height: 55%;
            background-image: url(../../assets/guide-back.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    }
}