.information {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 1334px;
    background-image: url(../../assets/images/home-bc.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    .mask {
        background: #000;
        opacity: 0.3;
        width: 100vw;
        height: 1334px;
        position: fixed;
        z-index: 5;
        .logo {
            background: url(../../assets/images/logo.png)no-repeat;
            background-size: 241px 73px;
            width: 241px;
            height: 73px;
            position: absolute;
            top: 30px;
            left: 2vw;
        }
        .info {
            background: url(../../assets/images/self-info.png)no-repeat;
            background-size: 73px 73px;
            position: absolute;
            width: 73px;
            height: 73px;
            top: 30px;
            right: 2vw;
        }
    }
    .self-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 594px;
        height: 852px;
        background-image: url(../../assets/images/self-page.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: 8;
        .self-title {
            padding-top: 100px;
            width: 250px;
            height: 46px;
            font-size: 53px;
            font-family: MF;
            font-weight: 400;
            color: #7A4A37;
            line-height: 40px;
        }
        .self-content {
            margin-top: 120px;
            width: 470px;
            input {
                height: 40px;
                border: medium none;
                list-style-type: none;
                background: none;
                width: 100%;
                font-size: 35px;
                font-family: HYXiaoBoZheZhiTiJ;
                font-weight: 400;
                color: #7B4733;
                line-height: 40px;
            }
            input:focus {
                outline: none;
            }
            input::placeholder {
                vertical-align: middle;
                width: 218px;
                height: 40px;
                font-size: 35px;
                font-family: HYXiaoBoZheZhiTiJ;
                font-weight: 400;
                color: #C4A686;
                line-height: 40px;
            }
            .content-name {
                height: 40px;
                width: 100%;
                display: flex;
                .name-left {
                    height: 40px;
                    flex: 1;
                    display: flex;
                    align-items: center;
                    margin-right: -20px;
                    font-size: 37px;
                    font-family: MF;
                    font-weight: 400;
                    color: #7F594A;
                    line-height: 40px;
                }
                .name-right {
                    height: 40px;
                    // padding-top: 0.5vh;
                    flex: 3
                }
            }
            .content-school {
                height: 40px;
                margin-top: 50px;
                width: 100%;
                display: flex;
                .school-left {
                    height: 40px;
                    flex: 1;
                    display: flex;
                    align-items: center;
                    margin-right: -20px;
                    font-size: 37px;
                    font-family: MF;
                    font-weight: 400;
                    color: #7F594A;
                    line-height: 40px;
                }
                .school-right {
                    height: 40px;
                    // padding-top: 0.5vh;
                    flex: 3;
                    .school-select::-webkit-scrollbar {
                        width: 0 !important
                    }
                    .school-select {
                        padding-left: 20px;
                        font-size: 27px;
                        font-family: HYXiaoBoZheZhiTiJ;
                        font-weight: 400;
                        color: #864125;
                        line-height: 40px;
                        -ms-overflow-style: none;
                        overflow: scroll;
                        display: none;
                        margin-left: -9px;
                        position: absolute;
                        width: 364px;
                        height: 213px;
                        background-image: url(../../assets/images/school-select.png);
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                    }
                }
            }
            .content-tel {
                height: 40px;
                margin-top: 50px;
                width: 100%;
                display: flex;
                .tel-left {
                    height: 40px;
                    flex: 1;
                    display: flex;
                    align-items: center;
                    margin-right: -20px;
                    font-size: 37px;
                    font-family: MF;
                    font-weight: 400;
                    color: #7F594A;
                    line-height: 40px;
                }
                .tel-right {
                    height: 40px;
                    // padding-top: 0.3vh;
                    flex: 3
                }
            }
        }
        .self-bt {
            margin-top: 80px;
            width: 211px;
            height: 96px;
            background-image: url(../../assets/images/self-bt.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    }
}