@import url('./assets/font.css');
@import url('./assets/reset.css');
* {
    margin: 0;
    padding: 0;
}
a,button,input{ 

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);    
       -webkit-user-modify: read-only;
}